<div class="container-sparrow">
  <div class="container pt-5 pb-5">
    <h2 class="text-white">Flights</h2>

    <div class="btn btn-success" routerLink="/edit-flight">
      New
    </div>

    <li class="list-group">
      <div *ngFor="let flight of flights" class="list-group-item">
        <div class="row">
          <div class="col-4 text-left">
            {{flight.from.name}} -> {{flight.to.name}}
          </div>
          <div class="col-4 text-left">
            {{flight.departureDate}}
          </div>

          <div class="col-4 text-right">
            <a [routerLink]="editLink(flight.id)" class="btn btn-warning">Edit</a>
          </div>

        </div>
      </div>
    </li>

  </div>
</div>
