<div class="container-sparrow p-3">
  <div class="row">
    <div class="col-md-7">
      <hr class="my-2">
      <h5 class="text-white font-weight-bold">{{rentacar.name}}
        <button *ngIf="user != null && user.role.toString() == 'ROLE_HOTEL_ADMIN'"
                class="btn btn-sm btn-info float-right ml-2" routerLink="stats">
          <i class="fa fa-chart-line mr-1"></i>statistics
        </button>
        <a *ngIf="user != null && user.role.toString() == 'ROLE_HOTEL_ADMIN'"
           class="btn btn-sm btn-info float-right ml-2" href="#" routerLink="edit">
          <i class="fa fa-edit mr-1"></i>edit</a>
        <a *ngIf="user != null && user.role.toString() == 'ROLE_HOTEL_ADMIN'"
           class="btn btn-sm btn-info float-right ml-2" href="#" routerLink="addDealership">
          <i class="fa fa-edit mr-1"></i>Add Locations</a>
      </h5>
      <p class="text-white"><i class="fa fa-map-marker-alt mr-2"></i>{{address.address}}

      </p>

      <hr class="my-2">
      <p class="text-white"><i class="fa fa-file-alt mr-2"></i>{{rentacar.description}}
      </p>
      <p class="text-white"><i class="fa fa-car" aria-hidden="true"></i> Cars: {{carQuantity}}</p>
      <p class="text-white"><i class="fa fa-car"></i> Maximum seats in one car is {{maxSeats}}.</p>
      <p class="text-white"><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Number of dealerships: {{dealershipQuantity}}</p>
      <p class="text-white"><i class="fa fa-location-arrow" aria-hidden="true"></i> Locations: <span *ngFor="let dealership of dealerships"
                                                                                                     class="badge badge-pill badge-primary font-weight-bold mr-1">{{dealership.address.address}}</span> </p>
    </div>
    <div class="col-md-5 text-center mt-2">
      <agm-map [latitude]="address.latitude" [longitude]="address.longitude">
        <agm-marker [latitude]="address.latitude" [longitude]="address.longitude">
          <agm-marker *ngFor="let dealership of dealerships" [latitude]="dealership.address.latitude" [longitude]="dealership.address.longitude">
          <agm-info-window>{{address.address}}</agm-info-window>
          </agm-marker>
        </agm-marker>
      </agm-map>
    </div>
  </div>


  <hr class="my-2">
  <div class="row">
    <div class="col-md-12">
      <h5 class="font-weight-bold text-white ml-0">
        <i class="fa fa-euro-sign mr-2"></i>Rooms and price list
      </h5>
      <a *ngIf="user != null && user.role.toString() == 'ROLE_HOTEL_ADMIN'" data-toggle="collapse" href="#collapse"
         role="button" aria-expanded="false" aria-controls="collapse"
         class="text-white">
        <button class="btn btn-success text-white"><i class="fa fa-plus mr-2"></i>Add car</button>
      </a>
      <a data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapse3"
         class="text-white">
        <button class="btn btn-info text-white"><i class="fa fa-search mr-2"></i>Search cars</button>
      </a>
      <div id="collapse3" class="collapse">
        <form class="bg-info text-center pl-3 pr-3 pt-2  text-white font-weight-bold">
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputStartDate"><i class="fa fa-sign-in-alt mr-1"></i>Start date</label>
              <input [(ngModel)]="carSearchDto.start" name="start" type="date" class="form-control form-control-sm"
                     id="inputStartDate">
            </div>
            <div class="form-group col-md-2">
              <label for="inputEndDate"><i class="fa fa-sign-out-alt mr-1"></i>Return date</label>
              <input [(ngModel)]="carSearchDto.end" name="start" type="date" class="form-control form-control-sm"
                     id="inputEndDate">
            </div>
            <div class="form-group col-md-2">
              <label for="inputSeats"><i class="fa fa-user-friends mr-1"></i>No. of seats</label>
              <input [(ngModel)]="carSearchDto.seats" name="guests" class="form-control form-control-sm"
                     id="inputSeats" type="number" min="1"
                     max="15">
            </div>
            <div class="col-md-2">
              <div *ngIf="carSearchErrorMsg.length != 0" class="alert alert-dismissible alert-danger mt-2 ml-5">
                <button type="button" class="close" data-dismiss="alert" (click)="carSearchErrorMsg = ''">&times;
                </button>
                <strong>{{carSearchErrorMsg}}</strong>
              </div>
            </div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-primary mt-4 float-right" (click)="searchCars()"><i
                class="fa fa-search mr-1"></i>Search<i
                class="fa fa-arrow-alt-circle-right ml-5"></i></button>
            </div>
          </div>
          <div *ngIf="carSearchInfomsg.length != 0" class="row text-center bg-info">
            <div class="col-md-12 mt-2">
              <ngb-alert [dismissible]="false">
                <strong><i class="fa fa-info-circle mr-5"></i></strong>{{carSearchInfomsg}}
              </ngb-alert>
            </div>
          </div>
        </form>
      </div>
      <div id="collapse" class="collapse">
        <form class="bg-info text-center pl-3 pr-3 pt-2  text-white font-weight-bold">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputAddress">Car manufacturer</label>
              <input [(ngModel)]="addCar.carManufacturer" name="roomName" type="text"
                     class="form-control form-control-sm" id="inputAddress" placeholder="Enter car manufacturer">
            </div>
            <div class="form-group col-md-1">
              <label for="inputAddress">Car model</label>
              <input [(ngModel)]="addCar.carModel" name="roomName" type="text"
                     class="form-control form-control-sm" id="modelInput" placeholder="Enter car model">
            </div>
            <div class="form-group col-md-1">
              <label for="inputState">Car Type</label>
              <select [(ngModel)]="addCar.carType" name="bedsNo" id="inputState"
                      class="form-control form-control-sm">
                <option selected>Diesel</option>
                <option>Petrol</option>
                <option>Electric</option>
              </select>
            </div>
            <div class="form-group col-md-1">
              <label for="numberInput">Price</label>
              <input [(ngModel)]="addCar.price" name="price" class="form-control form-control-sm"
                     id="numberInput" type="number" name="quantity" min="1"
                     max="1000000">
            </div>
            <div class="form-group col-md-1">
              <label for="numberInput">Year</label>
              <input [(ngModel)]="addCar.yearOfManufacturing" name="price" class="form-control form-control-sm"
                     id="yearInput" type="number" name="quantity" min="1980"
                     max="2020">
            </div>
            <div class="form-group col-md-1">
              <label for="numberInput">Seats</label>
              <input [(ngModel)]="addCar.seats" name="price" class="form-control form-control-sm"
                     id="seatsInput" type="number" name="quantity" min="1"
                     max="12">
            </div>


            <div class="col-md-2">
              <button type="submit" class="btn btn-primary mt-4 float-right" (click)="createCar()">Submit<i
                class="fa fa-arrow-alt-circle-right ml-5"></i></button>
            </div>
          </div>
        </form>
      </div>
      <table class="table table-hover table-primary text-center">
        <thead>
        <tr>
          <th scope="col">Manufacturer</th>
          <th scope="col">Model</th>
          <th scope="col">Year</th>
          <th scope="col">Seats</th>
          <th scope="col">Car Type</th>
          <th scope="col">Price per day</th>
          <th *ngIf="user == null || user.role.toString() != 'ROLE_HOTEL_ADMIN'" scope="col">Select</th>
          <th *ngIf="user != null && user.role.toString() == 'ROLE_HOTEL_ADMIN'" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars">
          <td>{{car.carManufacturer}}</td>
          <td>{{car.carModel}}</td>
          <td>{{car.yearOfManufacturing}}</td>
          <td>{{car.seats}}</td>
          <td>{{car.carType}}</td>
          <td>{{car.price}} €</td>
          <td *ngIf="user == null || user.role.toString() != 'ROLE_HOTEL_ADMIN'">
            <input (change)="toggleCarStatus($event, car)" type="checkbox">
          </td>
          <td *ngIf="user != null && user.role.toString() == 'ROLE_HOTEL_ADMIN'">
            <a href="#" routerLink="car/{{car.id}}/edit" class="btn btn-sm btn-info mr-1">Edit</a>
            <button class="btn btn-sm btn-danger" (click)="deleteCar(car.id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
      <button *ngIf="user == null || user.role.toString() == 'ROLE_USER'"
              class="btn btn-success font-weight-bold float-right ml-2 pl-3 pr-3" routerLink="reservation"
              (click)="sendDates()" [disabled]="cars.length === 0">Make reservation
      </button>
      <hr class="my-2">

    </div>
  </div>
</div>

