<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Rate our service</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Hotel {{rateHotel.name}} average score is {{rateHotel.avgScore}} from {{rateHotel.noOfScores}} reviews.</label>
  </div>
  <div class="modal-body">
    <label>Please rate our service:</label>
    <ngb-rating  [(rate)]="currentRating" max="5"></ngb-rating>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    <button type="button" class="btn btn-success" (click)="modal.close('Close click'); saveRatings();  " >Save</button>
  </div>
</ng-template>
<div class="container">
    <div class="row">
      <div class="col-md-auto">
      <a class="btn btn-sm btn-primary mb-2 text-white" href="/hotels" role="button"><i class="fa fa-bed mr-1"></i>Book a hotel</a>
      </div>
      <div class="col-md-auto">
        <a class="btn btn-sm btn-primary mb-2 text-white" href="/rentacars" role="button"><i class="fa fa-car-alt mr-1"></i>Rent-a-Car</a>
      </div>
      <div class = "col-md-auto">
        <a class="btn btn-sm btn-primary mb-2 text-white" href="#" role="button"><i class="fa fa-plane mr-1"></i>Book a flight</a>
      </div>
      <div class = "col-md-auto">
        <a class="btn btn-sm btn-primary btn-outline-primary mb-2 text-white" href="/user/profile" role="button"><i class="fa fa-user-circle-o"></i>Profile</a>
      </div>
      <div class = "col-md-auto">
        <a class="btn btn-sm btn-primary btn-outline-primary mb-2 text-white" href="#" role="button"><i class="fa fa-user-friends mr-1"></i>Friends</a>
      </div>
    </div>
</div>
<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Hotels</b></ng-template>
    <ng-template ngbTabContent>
      <div class="container mt-4">
        <div class="row mt-2">
          <div class="col-md-12 mr-auto">
            <h3>Active reservations</h3>
            <table class="table table-primary table-hover text-center">
              <thead>
              <th>Hotel</th>
              <th>Room</th>
              <th>Check-In</th>
              <th>Check-Out</th>
              <th>Price</th>
              <th></th>
              </thead>
              <tbody>
              <tr *ngFor="let hotelReservation of hotelReservationsActive">
                <td>
                  {{hotelReservation.hotelName}}
                </td>
                <td>
                  <p *ngFor="let room of hotelReservation.rooms"> {{room.name}}</p>
                </td>
                <td>
                  {{hotelReservation.start}}
                </td>
                <td>
                  {{hotelReservation.end}}
                </td>
                <td>
                  {{hotelReservation.price}} €
                </td>
                <td>
                  <button routerLink="../rentacar-sale"  (click)="sendDates(hotelReservation)" class="btn btn-sm btn-light mr-2"><i class="fa fa-car-crash mr-2"></i>Book a car</button>
                  <button (click)="cancelReservation(hotelReservation)" class="btn btn-sm btn-danger flex-grow-1"><i class="fa fa-times-circle mr-2"></i>Cancel</button>
                </td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="hotelReservationsActive.length === 0">
              There are no any active reservations yet. Make one <a href="*" routerLink="../hotels">here</a>
            </div>
          </div>
        </div>
        <div class="row  mt-2">
          <div class="col-md-12">
            <h3>Finished reservations</h3>
            <table *ngIf="hotelReservationsFinished.length !== 0" class="table table-light table-hover text-center">
              <thead>
              <th>Hotel</th>
              <th>Room</th>
              <th>Date</th>
              <th>Paid</th>
              <th></th>
              </thead>
              <tbody>
              <tr *ngFor = "let hotelReservation of hotelReservationsFinished">
                <td>
                  {{hotelReservation.hotelName}}
                </td>
                <td>
                  <p *ngFor="let room of hotelReservation.rooms"> {{room.name}}</p>
                </td>
                <td>
                  from <strong>{{hotelReservation.start}}</strong> to <strong>{{hotelReservation.end}}</strong>
                </td>
                <td>
                  {{hotelReservation.price}} €
                </td>
                <td>
                  <button class="btn btn-sm btn-info"  (click)="openWindowRating(content , hotelReservation.hotelId)" ><i class="fa fa-star mr-2"></i>Rate</button>
                </td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="hotelReservationsFinished.length === 0">
              There are no any finished reservations yet.
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Rent-a-car</b></ng-template>
    <ng-template ngbTabContent>
      <div class="container mt-4">
        <div class="row mt-2">
          <div class="col-md-12 mr-auto">
            <h3>Active reservations</h3>
            <table class="table table-primary table-hover text-center">
              <thead>
              <th>Rent-A-Car</th>
              <th>Car</th>
              <th>Start date</th>
              <th>Return Date</th>
              <th>Price</th>
              <th></th>
              </thead>
              <tbody>
              <tr *ngFor="let carReservation of carReservationsActive">
                <td>
                  {{carReservation.rentacar}}
                </td>
                <td>
                  <p *ngFor="let car of carReservation.cars"> {{car.carManufacturer + ' ' + car.carModel}}</p>
                </td>
                <td>
                  {{carReservation.start}}
                </td>
                <td>
                  {{carReservation.end}}
                </td>
                <td>
                  {{carReservation.price}} €
                </td>
                <td>
                  <button (click)="cancelCarReservation(carReservation)" class="btn btn-sm btn-danger flex-grow-1"><i class="fa fa-times-circle mr-2"></i>Cancel</button>
                </td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="carReservationsActive.length === 0">
              There are no any active reservations yet. Make one <a href="*" routerLink="../rentacars">here</a>
            </div>
          </div>
        </div>
        <div class="row  mt-2">
          <div class="col-md-12">
            <h3>Finished reservations</h3>
            <table *ngIf="carReservationsFinished.length !== 0" class="table table-light table-hover text-center">
              <thead>
              <th>Rent-A-Car</th>
              <th>Car</th>
              <th>Date</th>
              <th>Price</th>
              <th></th>
              </thead>
              <tbody>
              <tr *ngFor = "let carReservation of carReservationsFinished">
                <td>
                  {{carReservation.rentacar}}
                </td>
                <td>
                  <p *ngFor="let car of carReservation.cars"> {{car.carManufacturer + ' ' + car.carModel}}</p>
                </td>
                <td>
                  from <strong>{{carReservation.start}}</strong> to <strong>{{carReservation.end}}</strong>
                </td>
                <td>
                  {{carReservation.price}} €
                </td>
                <td>
                  <button class="btn btn-sm btn-info" ><i class="fa fa-star mr-2"></i>Rate</button>
                </td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="carReservationsFinished.length === 0">
              There are no any finished reservations yet.
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><b>Flights</b></ng-template>
    <ng-template ngbTabContent>
      <p>Implement</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
