<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#flight-companies">Flight companies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#hotels">Hotels</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#rent-a-car">Rent-a-car services</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="flight-companies">
    TODO: implement
  </div>
  <div class="tab-pane container fade" id="hotels">
    <div class="container">
      <div class="row mt-2">
        <div class="col-md-6 mr-auto">
          <div class="card bg-primary">
            <div class="card-header text-white text-center">
              <h5>Create new hotel</h5>
            </div>
            <div class="card-body bg-light">
              <form>
                <div class="form-group">
                  <label for="inputHotelName">Hotel name</label>
                  <input [(ngModel)]="hotel.name" class="form-control" id="inputHotelName" placeholder="Hotel name"
                         name="hotelName">
                </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input [(ngModel)]="hotel.address.address" (keydown.enter)="$event.preventDefault()"
                         class="form-control" id="inputAddress"
                         placeholder="Address" name="address" value="{{address.address}}" #search>
                </div>
                <agm-map [latitude]="address.latitude" [longitude]="address.longitude" [zoom]="zoom">
                  <agm-marker [latitude]="address.latitude" [longitude]="address.longitude" [markerDraggable]="true"
                              (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
                <div class="form-group">
                  <label for="inputDescription">Description</label>
                  <textarea [(ngModel)]="hotel.description" class="form-control" id="inputDescription"
                            placeholder="Description" name="description" rows="5"> </textarea>
                </div>
                <div class="form-group">
                  <input id="fileChooser" type="file" name="image" accept="image/*" #file
                         (change)="onFileSelect($event)">
                </div>
                <button type="submit" class="btn btn-success float-right" (click)="create()">Save</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <table class="table table-primary table-hover">
            <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Description</th>
            <th></th>
            </thead>
            <tbody>
            <tr *ngFor="let hotel of hotels">
              <td>
                {{hotel.name}}
              </td>
              <td>
                {{hotel.address.address}}
              </td>
              <td>
                {{hotel.description}}
              </td>
              <td>
                <button class="btn btn-sm btn-danger" (click)="delete(hotel.id)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="tab-pane container fade" id="rent-a-car">
    TODO: implement
  </div>
</div>
