<div class="container-sparrow">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-lg-6 col-xl-6 mx-auto mt-auto ml-auto">
        <div class="card bg-primary mt-5 mb-5">
          <div class="card-header text-white">
            <h5><i class="fa fa-edit mr-2"></i>Edit room configuration</h5>
          </div>
          <div class="card-body bg-light text-black-50">
            <form>
              <div class="form-group">
                <label for="inputCarManufacturer">Car Manufacturer</label>
                <input [(ngModel)]="car.carManufacturer" class="form-control" id="inputCarManufacturer" placeholder="Car manufacturer"
                       name="carManufacturer" type="text">
              </div>
              <div class="form-group">
                <label for="inputCarModel">Car Model</label>
                <input [(ngModel)]="car.carModel" class="form-control" id="inputCarModel" placeholder="Car Model"
                       name="carModel" type="text">
              </div>
              <div class="form-group">
                <label for="inputCarYear">Car Year</label>
                <input [(ngModel)]="car.yearOfManufacturing" class="form-control" id="inputCarYear" placeholder="Car Year"
                       name="CarYear" type="number" min="1950" max="2019">
              </div>
              <div class="form-group">
                <label for="inputCarSeats">No. of seats</label>
                <input [(ngModel)]="car.seats" class="form-control" id="inputCarSeats" placeholder="Car Year"
                       name="CarSeats" type="number" min="1" max="15">
              </div>
              <div class="form-group">
                <label for="inputCarPrice">Price per day</label>
                <input [(ngModel)]="car.price" class="form-control" id="inputCarPrice" placeholder="Car Year"
                       name="CarPrice" type="number" min="1" max="1000">
              </div>
              <div class="form-group">
                <label for="inputState">CarType</label>
                <select [(ngModel)]="car.carType" name = "CarType" id="inputState" class="form-control">
                  <option selected>Diesel</option>
                  <option>Petrol</option>
                  <option>Electric</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success float-right mt-5" (click)="updateCar()" >Confirm</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
