<div class="container-sparrow">
  <div class="row text-center">
    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto mt-auto ml-auto">
      <div class="card bg-primary mt-5 mb-5">
        <div class="card-header text-white">
          <h5>Finish your reservation</h5>
        </div>
        <div class="card-body bg-light text-black-50">
          <div class="row">
            <div class="col-md-6">
              <table class="table table-hover table-primary mr-3">
                <thead>
                <th>Room name</th>
                <th>Price</th>
                </thead>
                <tbody>
                <tr *ngFor="let plItem of priceListItems">
                  <td>
                    {{plItem.room.name}}
                  </td>
                  <td>
                    {{plItem.price}}€
                  </td>
                </tr>
                </tbody>
              </table>
              <hr class="my-4">
              <div class="row ml-2">
                <p class="font-weight-bold">Choose additional services</p>
              </div>
              <div class="row ml-2">
                <form class="text-left">
                  <div *ngFor="let hs of hotelServices">
                    <input type="checkbox" (change)="toggleExtraServices($event, hs)"
                           class="checkbox"> {{hs.extraService.name}} {{hs.price}}€
                  </div>
                  <br>
                </form>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <table class="table table-hover table-warning table-striped mr-3">
                  <thead>
                  <th>Service name</th>
                  <th>Price</th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let hs of checkedHotelServices">
                    <td>
                      {{hs.extraService.name}}
                    </td>
                    <td>
                      {{hs.price}}€
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <p class="float-left">Room(s) price: {{roomsPrice}} €</p>
                <p class="float-left">Additional services: {{additionalServicesPrice}} €</p>
                <hr class="my-1">
              </div>
              <div class="row">
                <p class="lead float-left font-weight-bold">Total: {{totalPrice}} €</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary float-right" (click)="makeReservation()">Confirm reservation</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
