<div class="container-sparrow">
  <div class="row text-center">
    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto mt-auto ml-auto">
      <div class="card bg-primary mt-5 mb-5">
        <div class="card-header text-white">
          <h5>Finish your reservation</h5>
        </div>
        <div class="card-body bg-light text-black-50">
          <div class="row">
            <div class="col-md-6">
              <form class="text-left">
                <input type="checkbox" id="smece" class="checkbox"> WiFi <br>
                <input type="checkbox" class="checkbox"> Wellness <br>
                <input type="checkbox" class="checkbox"> Spa <br>
                <input type="checkbox" class="checkbox"> Swimming pool<br>
                <input type="checkbox" class="checkbox"> Restaurant <br>
                <input type="checkbox" class="checkbox"> Breakfast <br>
                <input type="checkbox" class="checkbox"> Transport to/from airport <br>
              </form>
            </div>
            <div class="col-md-6">
              <div class="row">
                <table class="table table-hover table-primary mr-3">
                  <thead>
                  <th>Service name</th>
                  <th>Price</th>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Wellness</td>
                    <td>15 euros</td>
                  </tr>
                  <tr>
                    <td>Restaurant</td>
                    <td>7 euros</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <p class="float-left">Room price: 100 euros</p>
                <p class="float-left">Additional services: 22 euros</p>
                <hr class="my-1">
                <p class="lead float-left font-weight-bold">Total: 122 euros</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary float-right">Confirm reservation</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
