<div class="container-fluid mt-4 mb-2">
  <h5 class="font-weight-bold text-primary ml-0">
    <a data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
      <i class="fa fa-search mb-2 mr-2 ml-0"></i>Search hotels<i class="fa fa-bars ml-4"></i>
    </a>
  </h5>
  <div class="row ml-2 mr-2">
    <div class="col-md-12 collapse" id = "collapse">
      <form>
        <div class="form-group">
          <label for="inputAddress">Name</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Enter hotel or destination name">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Check-In</label>
            <input type="date" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Check-out</label>
            <input type="date" class="form-control" id="inputPassword4">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputState1">Rooms</label>
            <select id="inputState1" class="form-control">
              <option selected>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="inputState">Guests</label>
            <select id="inputState" class="form-control">
              <option selected>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
            </select>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3"><i class="fa fa-search mr-2"></i>Search</button>
      </form>
    </div>
  </div>
</div>
<div class="container-hotels p-3">
  <h3 class="ml-2 text-white">Hotels</h3>
  <hr class="my-4">
  <div class="row bg-primary pl-1 pt-3 pb-3 m-1">
    <div class="col-md-3">
      <img src="airplane.jpg" class="img-thumbnail" alt="plaza">
    </div>
    <div class="col-md-6">
      <h3 class="text-white">Hotel Sheraton<i class="fa fa-sm fa-star ml-2"></i>
        <i class="fa fa-sm fa-star"></i><i class="fa fa-sm fa-star"></i>
        <i class="fa fa-sm fa-star"></i><i class="fa fa-sm fa-star-half-alt"></i>
      </h3>
      <p class="lead text-white"><i class="fa fa-map-marker-alt"></i> Bulevar Vojvode Stepe Stepanovica 30A, 21000, Novi Sad</p>
      <a class="text-white" href = "#">Show on map</a>
    </div>
    <div class="col-md-3 text-center">
      <p class="lead text-white ml-1">from</p>
      <h1 class="text-white font-weight-bold">150€</h1>
      <button class="btn btn-lg btn-success mb-2">Select</button>
      <p class="lead text-white ml-1">(price for 1 night)</p>
    </div>
  </div>
  <hr class="my-4">
  <div class="row bg-primary pl-1 pt-3 pb-3 m-1">
    <div class="col-md-3">
      <img src="airplane.jpg" class="img-thumbnail" alt="plaza">
    </div>
    <div class="col-md-6">
      <h3 class="text-white">Hotel Holiday-In <i class="fa fa-sm fa-star ml-2"></i>
        <i class="fa fa-sm fa-star"></i><i class="fa fa-sm fa-star"></i>
        <i class="fa fa-sm fa-star"></i><i class="fa fa-sm fa-star-half-alt"></i>
      </h3>
      <p class="lead text-white"><i class="fa fa-map-marker-alt"></i> Narodnog Fronta 30A, 21000, Novi Sad</p>
      <a class="text-white" href = "#">Show on map</a>
    </div>
    <div class="col-md-3 text-center">
      <p class="lead text-white ml-1">from</p>
      <h1 class="text-white font-weight-bold">70€</h1>
      <button class="btn btn-lg btn-success mb-2">Select</button>
      <p class="lead text-white ml-1">(price for 1 night)</p>
    </div>
  </div>
  <hr class="my-4">
  <div class="row bg-primary pl-1 pt-3 pb-3 m-1">
    <div class="col-md-3">
      <img src="airplane.jpg" class="img-thumbnail" alt="plaza">
    </div>
    <div class="col-md-6">
      <h3 class="text-white">Hotel Plaza <i class="fa fa-sm fa-star ml-2"></i>
        <i class="fa fa-sm fa-star"></i><i class="fa fa-sm fa-star"></i>
        <i class="fa fa-sm fa-star"></i><i class="fa fa-sm fa-star-half-alt"></i>
      </h3>
      <p class="lead text-white"><i class="fa fa-map-marker-alt"></i> Bulevar oslobodjenja 30A, 21000, Novi Sad</p>
      <a class="text-white" href = "#">Show on map</a>
    </div>
    <div class="col-md-3 text-center">
      <p class="lead text-white ml-1">from</p>
      <h1 class="text-white font-weight-bold">100€</h1>
      <button class="btn btn-lg btn-success mb-2">Select</button>
      <p class="lead text-white ml-1">(price for 1 night)</p>
    </div>
  </div>
  <hr class="my-4">
</div>
