<div class="container-fluid mt-4 mb-2">
  <h5 class="font-weight-bold text-primary ml-0">
    <a data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapse">
      <i class="fa fa-search mb-2 mr-2 ml-0"></i>Search hotels<i class="fa fa-bars ml-4"></i>
    </a>
  </h5>
  <div class="row ml-2 mr-2">
    <div class="col-md-12 collapse" id="collapse">
      <div *ngIf="errorMsgRequired.length != 0">
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert" (click)="clearErrorMsgRequired()">&times;</button>
          <strong>All fields are required</strong>
        </div>
      </div>
      <form>
        <div class="form-group">
          <label for="place">Name</label>
          <input [(ngModel)]="hotelSearchDto.place" required name="place" type="text" class="form-control" id="place"
                 placeholder="Enter hotel or destination name">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Check-In</label>
            <input [(ngModel)]="hotelSearchDto.start" name="start" type="date" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Check-out</label>
            <input [(ngModel)]="hotelSearchDto.end" name="end" type="date" class="form-control" id="inputPassword4">
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3" (click)="search()"><i class="fa fa-search mr-2"></i>Search
        </button>
      </form>
    </div>
  </div>
</div>


<div class="container-sparrow p-3">
  <div *ngIf="errorMsg.length != 0">
    <h3 class="ml-2 text-white">{{errorMsg}}</h3>
  </div>
  <h3 *ngIf="errorMsg.length == 0" class="ml-2 text-white">Hotels</h3>
  <hr class="my-4">
  <div *ngFor="let hotel of hotels" class="row bg-primary pl-1 pt-3 pb-3 m-1 mb-3">
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Hotel location</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <agm-map style="height: 450px" [latitude]="hotel.address.latitude" [longitude]="hotel.address.longitude">
          <agm-marker [latitude]="hotel.address.latitude" [longitude]="hotel.address.longitude">
            <agm-info-window>{{hotel.address.address}}</agm-info-window>
          </agm-marker>
        </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
      </div>
    </ng-template>
    <div class="col-md-3">
      <img src="{{hotel.image}}" class="img-thumbnail" alt="Hotel image">
    </div>
    <div class="col-md-6">
      <h3 class="text-white">{{hotel.name}}
        <h1 class="text-white font-weight-bold">
          <ngb-rating [rate]="3"></ngb-rating>
        </h1>
      </h3>
      <p class="lead text-white"><i class="fa fa-map-marker-alt"></i> {{hotel.address.address}}</p>
      <button class="btn btn-sm btn-warning" (click)="open(content)">Show on map</button>
    </div>
    <div class="col-md-3 text-center">
      <p *ngIf="hotel.minRoomPrice != 0" class="lead text-white ml-1">from</p>
      <h1 *ngIf="hotel.minRoomPrice != 0; else undefinedPriceList" class="text-white font-weight-bold">{{hotel.minRoomPrice}}€</h1>
      <ng-template #undefinedPriceList>
        <h5 class="text-white font-weight-bold mb-5 mt-5">No pricelists available</h5>
      </ng-template>
      <p *ngIf="hotel.minRoomPrice != 0" class="lead text-white ml-1">(price for 1 night)</p>
      <a class="btn btn-lg btn-success mb-2 text-white" routerLink="{{hotel.id}}">Select</a>
    </div>
  </div>
</div>
