/* You can add global styles to this file, and also import other style files */
.jumbotron {
  background-image: url("airplane.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.container-hotels {
  background-image: url("beach.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  position: relative;
}

.bg-primary {
  opacity: 0.9;
}
