<div class="jumbotron">
  <h1 class="text-white">Welcome to Sparrow!</h1>
  <p class="lead text-white">Reserve a flight, book an accommodation or rent a vehicle on your trip.</p>
  <hr class="my-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header"><i class="fa fa-plane mr-2"></i><a href="#" class="text-white stretched-link">Flights</a></div>
        <div class="card-body">
          <p class="card-text">Take a look at all available flight companies and their offers.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header"><i class="fa fa-hotel mr-2"></i><a href="/hotels" class="text-white stretched-link ">Hotels</a></div>
        <div class="card-body">
          <p class="card-text">Find a place to stay. Search throughout available hotels and make your reservation when
            going to trip.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header"><i class="fa fa-car mr-2"></i><a href="#"
                                                                  class="text-white stretched-link">Rent-a-car</a></div>
        <div class="card-body">
          <p class="card-text">Here you can search for all available rent-a-car services.</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!(user | async)">
    <hr class="my-4">
    <h2>Sign in or create account</h2>
    <p class="lead">If you don't have account, you can create a new one <a href="#" class="font-weight-bold">here</a>.
    </p>
    <a class="btn btn-primary btn-lg mr-3" routerLink="login" role="button">Sign in<i class="fa fa-user fa-sm ml-2"></i></a>
    <a class="btn btn-primary btn-lg" routerLink="register" role="button">Register<i class="fa fa-user-plus fa-sm ml-2"></i></a>
  </div>
</div>

